<!DOCTYPE html>

<html>
    <head>
        <title>About</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>Questo sito è stato creato da Fabio Pozzi per ingannare la quarantena da Covid-19.</p>
            <p>Fa uso di dati provenienti da <a href="https://www.mapbox.com">mapbox</a> e <a href="https://darksky.net/">darksky</a>.</p>
            <img class= "portrait" src="/img/me.jpg">
        </div>
        {{>footer}}
    </body>
</html>
